{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "${UNIVERSAL_LINKS_APP_ID}",
        "paths": [
          "/",
          "/alerts",
          "/alerts/*",
          "/roundup",
          "/roundup/*",
          "/fixes",
          "/fixes/*"
        ]
      }
    ]
  }
}
