--exclude .build,CowtailApp/Sources/Generated,OpenAPITools/.build,OpenAPITools/Sources/CowtailGeneratedAPI/GeneratedSources
--swiftversion 6.0

--disable blankLineAfterImports
--disable blankLinesBetweenScopes
--disable andOperator
--disable elseOnSameLine
--disable environmentEntry
--disable extensionAccessControl
--disable hoistAwait
--disable hoistPatternLet
--disable hoistTry
--disable indent
--disable modifierOrder
--disable opaqueGenericParameters
--disable noForceUnwrapInTests
--disable numberFormatting
--disable preferCountWhere
--disable preferKeyPath
--disable redundantInternal
--disable redundantMemberwiseInit
--disable redundantNilInit
--disable redundantReturn
--disable redundantSelf
--disable redundantSendable
--disable redundantViewBuilder
--disable sortImports
--disable spaceAroundOperators
--disable trailingCommas
--disable typeSugar
--disable unusedArguments
--disable wrapFunctionBodies
--disable wrapMultilineStatementBraces
--disable wrapPropertyBodies
